body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right,#55439E, #952FFF);
}

.main_container{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../images/Ellipse.png');
    background-repeat: no-repeat;
    background-position-y:-100px;
   
}

#image-left-top{
    position: absolute;
    width: 290px;
    height: 267px;
    top: -108px;
    left: -20px;

}

#image-left-botton{
    width: 234px;
    height: 234px;
    position: absolute;
    bottom: 45px;
    left: 20px;

}

#image-right{
    position: absolute;
    Width: 357px;
    Height: 425px;
    top: 80px;
    right: 1px;
   
    

}