@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&display=swap');


body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right,#55439E, #952FFF);
    
}

.main_container{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('../images/Ellipse.png');
    background-repeat: no-repeat;
    background-position-y:-100px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#image-left-top{
    position: absolute;
    width: 290px;
    height: 267px;
    top: -108px;
    left: -20px;

}

#image-left-botton{
    width: 224px;
    height: 224px;
    position: absolute;
    bottom: 0;
    left: -10px;

}

#image-right{
    position: absolute;
    Width: 407px;
    Height: 475px;
    top: 50px;
    right: 1px;
   }

   .info{
       width: 100%;
       max-width: 1117px;       
       /* border: 1px solid red; */
       z-index: 9;
       display: flex;
       justify-content: space-between;
       
   }
   .info_title{
       width: 480px;
       /* border: 1px solid orange; */
       
   }

   .info_title h1{
       width: 380px;
       font-family: 'Lato', sans-serif;
       font-style: normal;
       font-weight: bold;
       font-size: 40px;
       line-height: 60px;
       text-transform: capitalize;
       color: #fff;
       margin-top: 0;
       margin-bottom: 20px;

   }

   .info_title p {
    font-family: 'Open Sans', sans-serif;
    width: 383px;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    color: #fff;

   }

   .info_submit{
       width: 100%;
       position: relative;
       
   }

   .info_submit ::placeholder{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    padding-left: 30px;
    font-size: 16px;
    line-height: 16px;
    color: #CDBFD8;
   }

   .info_submit input{
       width: 100%;
       height: 80px;
       border-radius: 10px;
       outline: none;
       border: 1px solid rgba(255, 255, 255, 0.7);
       background: rgba(255, 255, 255, 0.15);
       backdrop-filter: blur(45px);
      
   }

   .info_submit button{
       width: 120px;
       height: 60px;
       border-radius: 6px;
       background-color: #4F3AA7;
       font-family: 'Lato', sans-serif;
       font-weight: bold;
       font-size: 16px;
       line-height: 16px;
       text-align: center;
       color: #fff;
       border: none;
       outline: none;
       position: absolute;
       top: 13px;
       right: 8px;
   }

   .info_card--card{
       width: 500px;
       height: 300px;
       background: rgba(255, 255, 255, 0.15);
       backdrop-filter: blur(45px);
       border-radius: 20px;
       position: relative;
       box-sizing: border-box;
       padding-top: 40px;
       padding-left: 40px;
   }

    .info_card--card::before{
        content: '';
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-right: none;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 50%;
        box-sizing: border-box;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        
    }

    .info_card--card::after{
        content: '';
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-left: none;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 50%;
        box-sizing: border-box;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        
    }

   .info_card--title{
       /* border: 1px solid blue; */
   }
   .info_card--title{
       /* padding-top: 40px;
       padding-left: 50px; */
   }
  
   .info_card--title h2{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    /* border: 1px solid black; */
    /* display: inline; */
    margin-top: 0;
    margin-bottom: 46px;
    

   }
   .info_card--chip{
       /* border: 1px solid yellow; */
       
    
   }

   .info_card--chip img{
       width: 60px;
       height: 43px;
   }

   .info_card--name{
       display: flex;
       justify-content: space-between;
   }

   .info_card--name_number p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    margin-top: 0;

   }

   .info_card--name_number p:first-child{
       margin-top: 45px;
       margin-bottom: 8px;
       font-size: 20px;
       line-height: 30px;
    
   }

   .info_card--name_year p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    margin-right: 50px;
    margin-top: 84px;
    

   }

   /* RESPOSIVIDADE------------------------------------------------ */
@media (max-width: 730px){

    body {
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 100vw;
        background: linear-gradient(to right,#55439E, #952FFF);
        
    }

    .main_container{
        width: 99vw;
        height: 99vh;
        position: relative;
        background-image: url('../images/Ellipse.png');
        background-repeat: no-repeat; 
        background-position-y: -250px;
        background-position-x: -100px;
        /* border: 1px solid yellow; */
        align-items: unset;
        justify-content: unset;
       
       
    }

    #image-left-top{
        width: 230px;
        height: 207px;
        top: -85px;
        left: -20px;

    }

    #image-left-botton{
        width: 200px;
        height: 177px;
        position: absolute;
        top: 200px;
        left: 50px;
    
    }

    #image-right{
        position: absolute;
        Width: 157px;
        Height: 225px;
        top: 400px;
        right: 0;
       }


.info{
    width: 100vw;
    /* height: 100px; */
    /* border: 1px solid red; */
    z-index: 9;
    flex-direction: column;
    justify-content: unset;
    /* background-color: green; */
  
      
}

.info_title{
    width: 100vw;
    /* border: 1px solid orange; */
    margin-top: 0;
    
    
}

.info_title h1{
    width: 98vw;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 80px;
    margin-bottom: 20px;
    padding-left: 8px;
    box-sizing: border-box;
    
}

.info_title p {
    font-family: 'Open Sans', sans-serif;
    width: 98vw;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    padding-left: 8px;
    /* border: 1px solid yellow; */
    box-sizing: border-box;
    margin-bottom: 30px;

}

.info_submit{
    width: 98vw;
    position: relative;
    
    
}

.info_submit ::placeholder{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    padding-left: 10px;
    font-size: 14px;
    line-height: 14px;
    color: #CDBFD8;
}

.info_submit input{
    width: 94vw;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(45px);
    margin-left: 6px;
}

.info_submit button{
    width: 100px;
    height: 40px;
    border-radius: 6px;
    background-color: #4F3AA7;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    position: absolute;
    top: 8px;
    right: 10px;
}


/* ESTILO DO CARTÃO */
.info_card{
    margin-top: 60px;
    /* border: 1px solid green; */
    margin-left: 6px;
   
}
.info_card--card{
    width: 96vw;
    height: 200px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(45px);
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 35px;
}

 .info_card--card::before{
     content: '';
     border: 2px solid rgba(255, 255, 255, 0.5);
     border-right: none;
     position: absolute;
     bottom: 0;
     left: 0;
     height: 100%;
     width: 50%;
     box-sizing: border-box;
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
     
 }

 .info_card--card::after{
     content: '';
     border: 2px solid rgba(255, 255, 255, 0.3);
     border-left: none;
     position: absolute;
     bottom: 0;
     right: 0;
     height: 100%;
     width: 50%;
     box-sizing: border-box;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
     
 }


.info_card--title h2{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    /* border: 1px solid black; */
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
 

}
.info_card--chip{
    /* border: 1px solid yellow; */
    margin-top: 10px;
    
 
}

.info_card--chip img{
    width: 40px;
    height: 28px;
}

.info_card--name{
    display: flex;
    justify-content: space-between;
}

.info_card--name_number p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin-top: 0;

}

.info_card--name_number p:first-child{
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 26px;
 
}

.info_card--name_year p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    margin-right: 50px;
    margin-top: 52px;
 

}

}